.Button {
  background-color: transparent;
  border: 1px solid;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 10px;
  padding-left: 10px;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
